<div class="amazon-buttons-container" style="width:300px;">
  <div id="buy-with-prime-button" data-sku="{{ site.data.amazon-sale.buy_with_prime_sku }}" data-placement-id="{{ site.data.amazon-sale.buy_with_prime_placement_id }}"></div>
    <div class="placeholder" style="text-align: center; margin-bottom: 10px;">
    <a href="#" style="background-color: #F7931A; color: #ffffff; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; padding: 12px 24px; border-radius: 999px; text-decoration: none; display: inline-block;">Buy on Amazon &rarr;</a>
    <div style="margin-top: 4px; font-size: 12px; color: #666666; font-family: Arial, sans-serif;">Click to open Amazon Listing</div>
  </div>
<div class="placeholder" style="text-align: center; margin-bottom: 10px;">
    <a href="#" style="background-color: #00a8e8; color: #ffffff; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; padding: 12px 24px; border-radius: 999px; text-decoration: none; display: inline-block;">Buy with Prime &rarr;</a>
    <div style="margin-top: 4px; font-size: 12px; color: #666666; font-family: Arial, sans-serif;">Fast, FREE Delivery & Returns ⓘ</div>
  </div>
</div>