{% assign selected_key = include.key | default: "bitcoin" %}
<div class="amazon-buttons-container">
  <div class="placeholder" style="text-align: center; margin-bottom: 10px;">
    <a id="amazon-buy-button" href="{{ site.data.amazon_sale[selected_key].amazon_buy_href }}" style="background-color: #F7931A; color: #000000; font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; padding: 12px 24px; border-radius: 999px; text-decoration: none; display: inline-block;">{{ site.data.amazon_sale[selected_key].amazon_buy_text | default: "Fallback On Amazon" }}</a>
  </div>
  <div id="buy-with-prime-button" data-sku="{{ site.data.amazon_sale[selected_key].buy_with_prime_sku }}" data-placement-id="{{ site.data.amazon_sale[selected_key].buy_with_prime_placement_id }}"></div>
</div><br>