    <footer class="footer __js_fixed-footer">
      <div class="footer__container container container--size-large">
        <div class="footer__grid">
          <a class="footer__logo" href="/">
            <!--<svg width="242" height="59">
              <use xlink:href="#logo"></use>
            </svg>-->
          </a>
          <div class="footer__phone">
            <a href="#"></a>
          </div>
          <div class="footer__menu">
  <div class="footer__title">Quick Links</div>
  <ul class="footer__menu-list">
    {% for item in site.data.menu.items %}
    <li class="footer__menu-item">
      <a class="footer__menu-link" href="{{ item.url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
          <div class="footer__menu">
            <div class="footer__title">Follow</div>
<ul class="footer__menu-list">
  {% for social in site.data.social.items %}
  <li class="footer__menu-item">
    <a class="footer__menu-link" href="{{ social.url }}">{{ social.name }}</a>
  </li>
  {% endfor %}
</ul>
          </div>
          <div class="footer__feedback">
          <a class="header__logo logo" href="/">
          <svg width="119" height="19">
            <use xlink:href="#logo"></use>
          </svg>
        </a>

            <div class="footer__feedback-notice">An independent publisher of unique table books, chapbooks, and more. Our catalog of titles includes American Coffee Table Book and Bitcoin Coffee Table Book.</div><br>
            <iframe src="https://tablebookspro.substack.com/embed" width="480" height="150" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
          </div>
          <div class="footer__bottom">
            <div class="footer__copyright">© IWM LLC 2025.<br>All Rights Resevered.<br>TABLE books pro™</div>
            <div class="footer__privacy"><a class="footer__privacy" href="#">Privacy Policy</a><br><a class="footer__privacy" href="#">Terms of Service</a><br><a class="footer__privacy" href="#">Affiliate Disclosure</a></div>
          </div>
        </div>
      </div>
    </footer>