    <footer class="footer __js_fixed-footer">
      <div class="footer__container container container--size-large">
        <div class="footer__grid">
          <a class="footer__logo" href="/">
            <!--<svg width="242" height="59">
              <use xlink:href="#logo"></use>
            </svg>-->
          </a>
          <div class="footer__phone">
            <a href="#"></a>
          </div>
          <div class="footer__menu">
  <div class="footer__title">Quick Links</div>
  <ul class="footer__menu-list">
    {% for item in site.data.menu.items %}
    <li class="footer__menu-item">
      <a class="footer__menu-link" href="{{ item.url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
          <div class="footer__menu">
            <div class="footer__title">Follow</div>
<ul class="footer__menu-list">
  {% for social in site.data.social.items %}
  <li class="footer__menu-item">
    <a class="footer__menu-link" href="{{ social.url }}">{{ social.name }}</a>
  </li>
  {% endfor %}
</ul>
          </div>
          <div class="footer__feedback">
            <div class="footer__title">This site uses affiliate links. For more information, see my disclosure <a href="#">here</a></div>

            <div class="footer__feedback-notice">This site is protected by reCAPTHCHA and the <a href="#" target="_blank">Google Privacy Policy</a> and <a href="#" target="_blank">Terms of Service apply</a>.</div>
          </div>
          <div class="footer__bottom">
            <div class="footer__copyright">© IWM LLC 2025. All Rights Resevered. A TABLE books pro™ trademark.</div>
            <a class="footer__privacy" href="#">Privacy Policy</a>
          </div>
        </div>
      </div>
    </footer>