    <footer class="footer __js_fixed-footer">
      <div class="footer__container container container--size-large">
        <div class="footer__grid">
          <a class="footer__logo" href="/">
            <svg width="242" height="59">
              <use xlink:href="#logo"></use>
            </svg>
          </a>
          <!--<div class="footer__phone">
            <a href="#">UTTERLY UNIQUE</a>
          </div>-->
          <div class="footer__menu">
  <div class="footer__title">Quick Links</div>
  <ul class="footer__menu-list">
    {% for item in site.data.menu.items %}
    <li class="footer__menu-item">
      <a class="footer__menu-link" href="{{ item.url | relative_url }}">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
          <div class="footer__menu">
            <div class="footer__title">Follow</div>
<ul class="footer__menu-list">
  {% for social in site.data.social.items %}
  <li class="footer__menu-item">
    <a class="footer__menu-link" href="{{ social.url }}">{{ social.name }}</a>
  </li>
  {% endfor %}
</ul>
          </div>
          <div class="footer__feedback">
            <div class="footer__title">Sign up to our newsletter</div>
            <form class="footer__feedback-form" action="#" method="post">
              <label class="footer__feedback-field field">
                <input type="email" name="email">
                <span class="field__hint">E-mail</span>
              </label>
              <button class="footer__feedback-send arrow-btn arrow-btn--size-large" type="button">
                <svg width="75" height="75">
                  <use xlink:href="#link-arrow"></use>
                </svg>
              </button>
            </form>
            <div class="footer__feedback-notice">This site is protected by reCAPTHCHA and the <a href="#" target="_blank">Google Privacy Policy</a> and <a href="#" target="_blank">Terms of Service apply</a>.</div>
          </div>
          <div class="footer__bottom">
            <div class="footer__copyright">© TABLE books pro 2025. All Rights Resevered</div>
            <a class="footer__privacy" href="#">Privacy Policy</a>
          </div>
        </div>
      </div>
    </footer>