<header>
  <div class="social-icons">
    <a href="#"><svg class="symbol" width="24" height="24"><use xlink:href="#linkedin"></use></svg></a>
    <a href="#"><svg class="symbol" width="24" height="24"><use xlink:href="#facebook"></use></svg></a>
    <a href="#"><svg class="symbol" width="24" height="24"><use xlink:href="#instagram"></use></svg></a>
    <a href="#"><svg class="symbol" width="24" height="24"><use xlink:href="#twitter"></use></svg></a>
  </div>
  <nav class="main-nav">
    <div class="menu-toggle">Menu toggle</div>
    <div class="logo">
      <a href="{{ '/' | relative_url }}" class="logo-text">
        AMERICAN<br>COFFEE<br>TABLE<br>BOOK
      </a>
      <svg class="symbol" width="50" height="50"><use xlink:href="#logo"></use></svg>
    </div>
    {% include menu.html %}
  </nav>
</header>