     <header class="header header--separator __js_fixed-header">
      <div class="header__container container container--size-large">
        <a class="header__logo logo" href="agency-default.html">
          <svg width="152" height="38">
            <use xlink:href="#logo"></use>
          </svg>
        </a>
        <div class="header__mobile mobile-canvas">
          {% include menu.html %}
          <!-- Social-->
          <ul class="header__social social">
            <li class="social__item">
              <a class="social__link" href="#" target="_blank">
                <svg width="20" height="20" aria-label="linkedin icon">
                  <use xlink:href="#linkedin"></use>
                </svg>
                <span class="visually-hidden">linkedin</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" target="_blank">
                <svg width="20" height="20" aria-label="facebook icon">
                  <use xlink:href="#facebook"></use>
                </svg>
                <span class="visually-hidden">facebook</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" target="_blank">
                <svg width="20" height="20" aria-label="instagram icon">
                  <use xlink:href="#instagram"></use>
                </svg>
                <span class="visually-hidden">instagram</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" target="_blank">
                <svg width="20" height="20" aria-label="twitter icon">
                  <use xlink:href="#twitter"></use>
                </svg>
                <span class="visually-hidden">twitter</span>
              </a>
            </li>
          </ul>
        </div>
        <button class="header__menu-toggle menu-toggle" type="button">
          <span class="menu-toggle__line"></span>
          <span class="visually-hidden">Menu toggle</span>
        </button>
      </div>
    </header>