     <header class="header header--separator __js_fixed-header">
      <div class="header__container container container--size-large">
        <a class="header__logo logo" href="agency-default.html">
          <svg width="152" height="38">
            <use xlink:href="#logo"></use>
          </svg>
        </a>
        <div class="header__mobile mobile-canvas">
          {% include menu.html %}
<ul class="header__social social">
  {% for social in site.data.social.items %}
  <li class="social__item">
    <a class="social__link" href="{{ social.url }}" target="_blank">
      <svg width="20" height="20" aria-label="{{ social.name }} icon">
        <use xlink:href="#{{ social.icon }}"></use>
      </svg>
      <span class="visually-hidden">{{ social.name }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
        </div>
        <button class="header__menu-toggle menu-toggle" type="button">
          <span class="menu-toggle__line"></span>
          <span class="visually-hidden">Menu toggle</span>
        </button>
      </div>
    </header>