          <nav class="mobile-canvas__nav navigation">
            <ul class="navigation__list">
              <li class="navigation__item">
                <a class="navigation__link animsition-link" href="agency-default.html">Home<span class="navigation__link-icon">
                    <svg width="12" height="13">
                      <use xlink:href="#link-arrow"></use>
                    </svg>
                  </span>
                </a>
              <li class="navigation__item">
                <a class="navigation__link animsition-link" href="contact.html">Contact<span class="navigation__link-icon">
                    <svg width="12" height="13">
                      <use xlink:href="#link-arrow"></use>
                    </svg>
                  </span>
                </a>
              </li>
            </ul>
          </nav>