<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="msapplication-TileColor" content="#da532c">
  {% include favicon.html %}
  {% include styles.html %}

  <title>{{ page.title | default: site.title }}</title>

  {% seo %}

</head>

<body>
  {% include header.html %}
  
  <main>
    {{ content }}
  </main>

  {% include footer.html %}

  {% include scripts.html %}

</body>

</html>