<header>
  <div class="social-icons">
    <a href="#"><svg class="symbol" width="24" height="24"><use xlink:href="#linkedin"></use></svg></a>
    <a href="#"><svg class="symbol" width="24" height="24"><use xlink:href="#facebook"></use></svg></a>
    <a href="#"><svg class="symbol" width="24" height="24"><use xlink:href="#instagram"></use></svg></a>
    <a href="#"><svg class="symbol" width="24" height="24"><use xlink:href="#twitter"></use></svg></a>
  </div>
  <nav class="main-nav">
    <div class="menu-toggle">Menu toggle</div>
    <div class="logo">
      <a href="{{ '/' | relative_url }}" class="logo-text">
        AMERICAN<br>COFFEE<br>TABLE<br>BOOK
      </a>
      <svg class="symbol" width="50" height="50"><use xlink:href="#logo"></use></svg>
    </div>
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="{{ '/' | relative_url }}" class="nav-link">Home</a>
        <ul class="submenu">
          <li><a href="{{ '/agency-default/' | relative_url }}" class="subnav-link">Agency default</a></li>
          <li><a href="{{ '/agency-mono/' | relative_url }}" class="subnav-link">Agency mono</a></li>
          <li><a href="{{ '/agency-modern/' | relative_url }}" class="subnav-link">Agency modern</a></li>
          <li><a href="{{ '/creative-agency/' | relative_url }}" class="subnav-link">Creative agency</a></li>
          <li><a href="{{ '/vcard/' | relative_url }}" class="subnav-link">Vcard</a></li>
          <li><a href="{{ '/vertical-projects/' | relative_url }}" class="subnav-link">Vertical projects</a></li>
          <li><a href="{{ '/tooltip-projects/' | relative_url }}" class="subnav-link">Tooltip projects</a></li>
          <li><a href="{{ '/parallax-projects/' | relative_url }}" class="subnav-link">Parallax projects</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="{{ '/pages/' | relative_url }}" class="nav-link">Pages</a>
        <ul class="submenu">
          <li><a href="{{ '/pages/about-us/' | relative_url }}" class="subnav-link">About us</a></li>
          <li><a href="{{ '/pages/services/' | relative_url }}" class="subnav-link">Services</a></li>
          <li><a href="{{ '/pages/service-detail/' | relative_url }}" class="subnav-link">Service detail</a></li>
          <li><a href="{{ '/pages/team/' | relative_url }}" class="subnav-link">Team</a></li>
          <li><a href="{{ '/pages/faq/' | relative_url }}" class="subnav-link">Faq</a></li>
          <li><a href="{{ '/pages/pricing/' | relative_url }}" class="subnav-link">Pricing</a></li>
          <li><a href="{{ '/pages/contact/' | relative_url }}" class="subnav-link">Contact</a></li>
          <li><a href="{{ '/pages/404/' | relative_url }}" class="subnav-link">404</a></li>
          <li><a href="{{ '/pages/coming-soon/' | relative_url }}" class="subnav-link">Coming soon</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="{{ '/projects/' | relative_url }}" class="nav-link">Projects</a>
        <ul class="submenu">
          <li><a href="{{ '/projects/masonry/' | relative_url }}" class="subnav-link">Masonry</a></li>
          <li><a href="{{ '/projects/carousel/' | relative_url }}" class="subnav-link">Carousel</a></li>
          <li><a href="{{ '/projects/tooltips/' | relative_url }}" class="subnav-link">Tooltips</a></li>
          <li><a href="{{ '/projects/single-project/' | relative_url }}" class="subnav-link">Single project</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="{{ '/blog/' | relative_url }}" class="nav-link">Blog</a>
        <ul class="submenu">
          <li><a href="{{ '/blog/masonry/' | relative_url }}" class="subnav-link">Masonry</a></li>
          <li><a href="{{ '/blog/grid/' | relative_url }}" class="subnav-link">Grid</a></li>
          <li><a href="{{ '/blog/listing/' | relative_url }}" class="subnav-link">Listing</a></li>
          <li><a href="{{ '/blog/single-post/' | relative_url }}" class="subnav-link">Single post</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="{{ '/contact/' | relative_url }}" class="nav-link">Contact</a>
      </li>
    </ul>
  </nav>
</header>